/* Write your CSS here */
.Dark {
  background-color: #000000;
}
.Light {
  background-color: #ffffff;
}
.home-container {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-image {
  width: 120px;
  height: 120px;
}
.home-text {
  font-family: 'Roboto';
  font-size: 35px;
  color: #1e293b;
  font-weight: 900;
  line-height: 1;
}

.light-text {
  color: #ffffff;
}
